# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Variables sensibles
*.tfvars
*.tfvars.json

# Terraform override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan
*.tfplan

# Fichiers locaux Terraform
.terraform.lock.hcl

# AWS
.aws/

# Environnement
.env
.env.*

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db